@charset "UTF-8";

@font-face {
  font-family: 'Bebas Neue';
  src: url('fontes/bebas-neueotf.otf') format(opentype),
}

* {
  padding: 0px;
  margin: 0px;
}

abbr {
  text-decoration: none;
  font-weight: bold;
}

header {
  background-color: rgba(255, 255, 255, 0.560);
  margin-bottom: 3px;
}

header h1 {
  letter-spacing: 0.5rem;
  color: #1c8b38;
  padding: 5px;
  font-family: "Bebas Neue", Times, Sans-serif;
  font-size: 3.5em;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.400);
}

header p {
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
}

body {
  background: rgba(144, 245, 149, 0.5) url('imagens/fundo-floresta.jpg') center center no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

#main {
  min-height: calc(100vh - 40px);
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: auto; 
  background-color: rgba(238, 234, 234, 0.560);
  width: 57vw;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.418);
  border-radius: 10px;
  text-align: justify;
}

main h1 {
  text-align: center;
  padding: 20px;
}

main h2 {
  text-align: left;
  margin: 10px;
}

main p {
  text-indent: 10px;
  margin-bottom: 8px;
  text-align: justify;
}

p#tema {
  margin-top: 40px;
}

nav {
  margin-top: 40px;
  text-align: center;
  height: 120px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav div {
  background-size: cover;
  height: 150px;
  width: 150px;
  padding: px;
  display: inline;
}

div#desmatamento {
  background-image: url('imagens/desmatamento.jpg');
  background-size: cover;
  height: 200px;
  width: 300px;
  display: inline-block;
}

div#desperdicio {
  background-image: url('imagens/torneira.jpg');
  background-size: cover;
  height: 200px;
  width: 300px;
  display: inline-block;
}

div#co2 {
  background-image: url('imagens/CO2.jpg');
  background-size: cover;
  height: 200px;
  width: 300px;
  display: inline-block;
}

nav a:hover {
  color: aquamarine; 
  text-decoration: underline;
}

#rodape {
  position: sticky;
  bottom: 0;
  width: 99.25%;
  height: 15px;
  padding: 5px;
  color: white;
  background-color: #1c8b38;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

footer a:hover {
  color: aquamarine; 
  text-decoration: underline;
}