@charset "UTF-8";

@font-face {
  font-family: 'Bebas Neue';
  src: url('fontes/bebas-neueotf.otf') format(opentype),
}

* {
  padding: 0px;
  margin: 0px;
}

header {
}
header h1 {
  padding: 5px;
  font-family: "Bebas Neue", Times, Sans-serif;
  font-size: 3.5em;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.400);
}

header p {
  font-size: 2em;
  text-align: center;
  padding: 20px;
}

body {
  background: rgba(50, 228, 59, 0.5) url('imagens/rio-preto-floresta.jpg') center center no-repeat fixed;
  background-size: cover;
}

main {
  background-color: rgb(219, 213, 213);
  max-width: 700px;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}
