/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

 Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...} */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* { 
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;

}

html {
  width: 100vw;
}

header {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.560);
  margin-bottom: 3px;
  overflow-x: hidden;
}

header h1 {
  letter-spacing: 0.5rem;
  color: #1c8b38;
  padding: 5px;
  font-size: 4em;
  font-family: "Bebas neue", Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.400);
}

header p {
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
}

body {
  background: rgba(144, 245, 149, 0.5) url('../../imagens/fundo-floresta.jpg') center center no-repeat fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

main {
  background-color: rgba(238, 234, 234, 0.616);
  padding-left: 15px;
  padding-right: 15px;
  width: 69vw;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.418);
  border-radius: 20px;
  text-align: justify;
}


main h1 {
  text-align: center;
  font-family: "Bebas neue", Arial, Helvetica, sans-serif;
  padding: 20px
}

main h2 {
  text-align: left;
  margin: 10px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
main p {
  text-indent: 10px;
  margin-bottom: 8px;
  text-align: justify;
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

abbr {
  text-decoration: none;
  font-weight: bold;
}

p#tema {
  margin-top: 40px;
}

nav {
  margin-top: 25px;
  text-align: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

nav a {
  text-decoration: none;
  color: rgb(2, 88, 6);
  font-weight: 600;
}

nav a:hover {
  color: rgb(2, 182, 11);
  text-decoration: underline;
}

nav img {
  margin-top: 10px;
  border-radius: 5px;
}

nav img:hover {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  transition: 1.5s ease;
}

.nav-imgs div{
  overflow-y: hidden;
}

div#desmatamento {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
div#desperdicio {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

div#co2 {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

img#desmatamento {
  height: 200px;
  width: 300px;
  display: inline-block;
}

img#desperdicio {
  height: 200px;
  width: 300px;
  display: inline-block;
}

img#co2 {
  height: 200px;
  width: 300px;
  display: inline-block;
}

div#sobrenos {
  background-color: lightgray;
  text-align: center;
  width: 100vw;
}

h1#sobrenos {
  font-family: "Bebas neue", Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

div.nos {
  display: inline-block;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

div.nos a {
  text-decoration: none;
  color: black;
}

p.nome {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 1.6em;
}

img.integrantes{
  width: 200px;
  height: 267px;
  border-radius: 7px;
}

div.cargo {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #1c8b38;
  border-radius: 7px;
}

img.icone {
  display: inline-block;
  width: 25px;
  height: 25px;
}

div.insta {
  padding-bottom: 20px;
  padding-top: 20px;
  background: linear-gradient(0deg, #E83944, #D33160, #B63D82, #924A97, #69549F);
  border-radius: 7px;
  overflow-y: hidden;
}

div.insta:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
  transition: 0.9s ease;
}

img.insta {
  display: inline-block;
  width: 25px;
  height: 25px;
}

footer {
  width: 100%;
  background-color: #1c8b38;
  color: white;
  text-align: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding: 2px 0;
  margin-top: auto;
}

footer p {
  margin: 0;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}

footer a:hover {
  color: aquamarine;
  text-decoration: underline;
}
